.DS_Store
.vscode
.idea

/test-images/results

/tensorflow-object-detection/notebooks/.idea/
/tensorflow-object-detection/.DS_Store
/*/**/__pycache__
/bounding-box-drawer/bin
/bounding-box-drawer/include
/bounding-box-drawer/lib
/bounding-box-drawer/.idea
!bounding-box-drawer/.idea/runConfigurations/main.xml

/compare-test-results/*
!compare-test-results/.idea/runConfigurations/main.xml
